#skills {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1%;
        width: 100%;
        padding: 4rem 3rem;
        background-color: #121212;
        color: white;
}  
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}
.skill-item h3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00BCD4;
}

